#headings
{
  padding: 60px 20px 20px 20px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
}

.container{
  max-width: 1020px;
}

*, ::after, ::before{
  box-sizing: border-box;
}

p
{
  padding: 10 px; margin-left:10 px; margin-right: 10px;
  padding-left: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.jumbotron
{
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 4rem 2rem;
}

h1
{
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  padding-right:350px
}

#Intro
{
  padding-top: 70px;
  height: 360px;
  background-color: #e9ecef;

}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#middletwo
{
  padding-right:20px;
  border-right: 3px solid black;
}
